<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deploiement</title>
</head>
<body>
  <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pay : ${pays}">
            <td>
                <span th:text="${pay.id}">nom</span>
            </td> 
            <td>
                <span th:text="${pay.nom}">nom</span>
            </td> 
        </tr>
    </tbody>
  </table>
</body>
</html>